body{
    position: relative;
    width: 100%;

    padding :0;
    margin :0 ;
    overflow: scroll;
    /* overflow: hidden; */
    --pp: #aa6ebd;
    /* background: #f2f2f2; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* width */
body::-webkit-scrollbar {
    width: 5px;
    
}

  /* Track */
body::-webkit-scrollbar-track {
    background: transparent;
}

  /* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(201, 75, 201);
}

  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 30, 226);
}
header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 150px;
    color: white;
    background: #aa6ebd;
    display: flex;
    /* border: 1px solid white;     */
    
    align-items: center;
    box-sizing: border-box;
}
header .logo{
    display: flex;
    width: 150px;
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 1em 0.5em;
    margin: 0 2em 0 0.5em; 
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header nav ul{
    display: flex;

    justify-content: center;
    
}
header nav ul li {
    display: inline-block;
    padding: 0 2.5em;
    font-size: 1.6em;
}
header nav ul li:nth-child(2){
    position: relative;
}
header nav ul li:nth-child(2) #cart{
    position: absolute;
    width: 400px;
    height: auto;
    display: none;
    transform: translateX(-25%);
    background: rgb(243, 232, 169);
    color: black;
    padding: .5em 0;
    border: 2px solid gray;
}
header nav ul li:nth-child(2):hover #cart{
    display: block;
}
#cart h1{
    font-size: 1.2em;
    padding: 0;
    letter-spacing: 2px;
    margin: 10px 0;
}
#cart .cartitem{
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-left: 20px;
    align-items: center;
}

#cart h2{
    font-size: 1em;
    width: 10%;
}
#cart p{
    width: 30%;
    padding: 0;
    margin-left: 20px;
    overflow: hidden;
}
#cart img{
    padding: 0;
    margin-right: 10px;
    width: 15px;
    height: 15px;
}
#cart .line{
    width: 350px;
    height: 2px;
    margin: 0 .5em;
    background: black;
}

header nav ul li:nth-child(2) a {
    position: relative;
}
header nav ul li:nth-child(2) #index{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    background: red;
    padding: 2px;
    color: white;
    font-weight: bolder;
    /* box-shadow: 0px 0px 2px 2px rgb(29, 28, 28); */
    border-top-right-radius: 9px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 9px;
    /* border: 3px solid white; */
}
header nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.35s ;
    margin: 0 auto;
    text-align: center;
    /* background: black; */
}
header nav ul li a img{
    width: 40%;
    display: flex;
    text-align: center;
    margin: 0 20%;
}
header nav ul li a:hover{
    color: black;
    /* text-decoration: underline; */
}
header .account{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header button{
    margin: 0 1em;
}
.account{
    position: absolute;
    right: 2em;
    font-size: 1em;
}
#accountblock{
    width: 30px;
    height: 30px;
    margin: 1em;
    line-height: 30px;
    font-weight: bold;
    /* background: black; */
    border: 2px solid rgb(216, 154, 154);
    text-align: center;
}
#more{
    color: black;
    position: absolute;
    border: 2px solid black;
    top: 50px;
    right: 20px;
    width: auto;
    height: auto;
    /* display: block; */
    padding: 0 1em;
    background: rgb(199, 140, 199);
}
.unactive{
    display: none;
}
#more .out{
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    
}
#more .out img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#more h3 div{
    color: white;
}

main{
    position: relative;
    top: 200px;
    margin: 0 1em;
    display: grid;
    grid-template-columns: repeat(5,minmax(200px,.2fr));
    grid-gap: 2em;
    /* overflow: scroll; */
}
main .product{
    position: relative;
    height: 250px;
    border: 2px solid black;
    border-bottom: none;
    background: rgb(255, 255, 255);
    transition: 0.4s;
}
main .product .infor{
    position: absolute;
    width: 100%;
    background: rgba(199, 178, 221, 0.863);
    font-size: 1em;
    bottom: -10px;
    left: -10px;
    /* border: 2px solid black; */
    padding: 0 10px;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}
.infor .name{
    font-weight: bold;
    letter-spacing: 1px;
}
.infor .price{
    color: rgb(49, 49, 20);
}
.btn{
    display: flex;
    color: black;
    position: absolute;
    bottom: -5px;
    right: -5px;
    line-height: 20px;
    border: 1px solid green;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

/* sau khi nhấp chữ order thì nó chuyển thành color: green (#pick chứa innerText là Order) */
.btn.active{
    border: none;
    background:green;
    color: white;
}
#drop{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
}
.product.chosen{
    border: 2px solid green;
}
.product .imgbox{
    width: 100%;
    height: 100%;
    text-align: center;
}
.product .imgbox img{
    object-fit: cover;
    min-width: 60%;
    max-width: 100%;
    min-height: 60%;
    max-height: 100%;
}