@mixin actionButton {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
}

@mixin applyWhenSelected {
    &.selected {
        color: $white !important;
        background-color: $selectedBlue;
    }
}